body{
margin: 0 auto;

font-size:12px;
}

#kontener
{
  width: 960px;	
  margin: 0 auto;
  
}

/*(a) – odnośnik do pliku z opisem*/
a.suds_link_ok {
	
}
/*(a) – odnośnik do pliku bez opisu*/
a.suds_link_nodesc {
	
}
/*(p) – opis, gdy nie ma w bazie odnośnika do pliku*/
p.suds_desconly {
	
}
/*(p) – błąd, gdy nie ma ani odnośnika, ani opisu*/
p.suds_broken {
	
}
/*(p) – data ostatniej modyfikacji pliku (opisu)*/
p.suds_date{
	
}
/*(p) – informacja techniczna*/
p.suds_info{
	text-align: center;
	color: blue;
}
/*(p) – informacja o błędzie*/
p.suds_error{
	text-align: center;
	color:red;
	font-size:14px;
	font-family:"Arial Narrow";
	
}
/*(a) – link do panelu moderacji (w głównym pliku SUDS)*/
a.suds_admin{
	
}
/*(a) – link do głównego pliku SUDS (w panelu moderacji)*/
a.suds_main_link{
	
}
/*(p) – tekst w stopce SUDS*/
p.suds_footer{
	text-align: center;
}
/*(a) – link w menu panelu moderacji SUDS*/
a.suds_modmenu {
	
}
/* (h3) – tytuł w panelu moderacji*/
h3.suds_title{
	
}
/* (p) – tekst na stronie logowania do panelu moderacji*/
p.suds_modlogin_text{
	
}
/*(p) – wiadomość powitalna w panelu moderacji*/
p.suds_text{
	
}
